:root {
  --font-family: "Roboto", serif;
  --branding-color: #ffffff;
  --primary-color: #fc5687;
  --secondary-color: #000000;
}
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background: #2b2b2b;
  font-family: var(--font-family);
  color: var(--branding-color);
  margin: 0;
  padding: 0;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background-image: url("images/Annika\ Scharkie\ background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 72px;
  color: var(--secondary-color);
}
.hero h2 {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  color: var(--secondary-color);
}
.hero p {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 24px;
  color: var(--branding-color);
  line-height: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  font-family: var(--font-family);
  color: var(--secondary-color);
  border-radius: 50px;
  padding: 18px 30px;
  margin-top: 30px;
  align-self: start;
}
.container {
  padding: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-section {
  font-family: var(--font-family);
  padding: 40px;
}
.about-section h1,
h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}
.about-section h2 {
  font-size: 64px;
  font-weight: bold;
}
.about-section p {
  font-size: 18px;
  font-weight: 300;
  color: var (--branding-color);
}
.about-image {
  width: 100%;
  max-width: 500px; /* adjust width as needed */
  height: 650px; /* controls the visible height */
  object-fit: cover; /* crops the image to fill the area */
  object-position: top; /* focus on the top part of the image */
  border-radius: 10px;
  margin: 40px auto;
  display: block;
}

.about-section-content {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.about-section .btn-branding {
  margin-left: 30px;
}

.content-container {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  flex-grow: 1;
}
.content-container h2 {
  color: var(--primary-color);
  font-size: 18px;
}
.content-container h1 {
  font-family: var(--font-family);
  color: var(--branding-color);
  font-weight: bold;
  font-size: 72px;
  margin-top: 60px;
}
.content {
  margin-top: 100px;
  line-height: 1.2;
}
.content i {
  margin-right: 10px;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
  object-position: top;
}

.email-link {
  text-decoration: none;
  color: var(--branding-color);
}
.email-link:hover {
  color: var(--primary-color);
}
.navbar {
  padding: 20px;
  background-color: #000000 !important;
}
.note {
  font-family: var(--font-family);
  color: var(--branding-color);
  font-size: 10px;
  opacity: 70%;
}
.note a {
  text-decoration: none;
  color: var(--branding-color);
}
.note a:hover {
  color: var(--primary-color);
}
footer {
  background: var(--secondary-color);
  padding: 20px 0;
  color: var(--branding-color);
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  width: 150px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social i {
  font-size: 24px;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.footer-social i:hover {
  color: var(--primary-color);
}

.footer-text {
  font-size: 14px;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 36px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .hero p {
    font-size: 16px;
  }
  .gallery-section h1 {
    font-size: 36px;
  }
  .btn-branding {
    display: block;
    width: 100%;
    text-align: center;
  }
  .about-section-content {
    text-align: center;
  }
  .about-image-grid {
    padding: 80px 10px;
  }
  .content-container h1 {
    font-size: 36px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
